<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated measurements -->
      <package
            uri="http://www.2025.2025/consistency/measurements/1.0"
            class="cipm.consistency.measurements.MeasurementsPackage"
            genModel="model/measurements.genmodel"/>
   </extension>

</plugin>
